html, body{
  height: 100%;
}
  body { 
  background-image: url(../images/dstar.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
  
}


.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:10%;
  bottom: 0; 
  display: block;
  position: relative;
  float: right;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
}

.characterSelect div{
  z-index: 100;
  height:150px;
  width: 150px;
}

#one {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  /*display: inline;*/
  z-index: 100;
}

#two {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  /*display: inline;*/
  z-index: 100;
}

#three {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  /*display: inline;*/
  z-index: 100;
}

#four {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  /*display: inline;*/
  z-index: 100;
}

.container {
  clear: all;
}

.characters {  
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  z-index: 100;
}

.enemies {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  z-index: 100;
}

.fight {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  z-index: 100;
}

.defender {
  bottom: 0; 
  float: left;
  background-color: rgba(0,0,0,0.6);
  color: #fd5a1e;
  margin-right: 4em;
  padding: 1em;
  z-index: 100;
}

